#doctors_container {
  padding: 100px 0;
  background-color: #efefef;
}

.main_doctors_section_container {
  max-width: 1536px;
  margin: auto;
  padding: 0 20px;
}

.doctors_section_title {
  text-align: center;
  font-size: 3.5rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.doctors_section_sub_title {
  text-align: center;
  color: #525252;
  padding: 0 200px;
}

.main_doctors_card_container {
  margin-top: 100px;
  gap: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.doctors_section_button {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.doctors_section_button button {
  font-size: 18px;
  border-radius: 8px;
  border: none;
  padding: 8px 20px;
  color: #ffffff;
  cursor: pointer;
  background-color: #176ae5;
}

.doctor_button_close {
  display: none;
}

.doctors_section_button button:hover {
  background-color: #1561d3;
}

/* Responsive style__ */
@media screen and (max-width: 1280px) {
  .doctors_section_sub_title {
    padding: 0 100px;
  }

  .main_doctors_card_container {
    gap: 40px;
  }
}

@media screen and (max-width: 1024px) {
  .doctors_section_title {
    font-size: 3rem;
  }

  .doctors_section_sub_title {
    padding: 0 50px;
  }

  .main_doctors_card_container {
    gap: 20px;
  }
}

@media screen and (max-width: 768px) {
  .doctors_section_title {
    font-size: 2.5rem;
  }

  .doctors_section_sub_title {
    font-size: 16px;
    padding: 0 20px;
  }

  .main_doctors_card_container {
    margin-top: 80px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 640px) {
  .doctors_section_title {
    font-size: 2.3rem;
  }

  .doctors_section_sub_title {
    font-size: 14px;
    padding: 0 10px;
  }
}

@media screen and (max-width: 475px) {
  .doctors_section_sub_title {
    font-size: 12px;
  }

  .main_doctors_card_container {
    margin-top: 50px;
    gap: 10px;
    grid-template-columns: repeat(1, 1fr);
  }
}