.main_nav_parent_container {
  height: 70px;
  background: linear-gradient(
    180deg,
    #82d3ff 2.715%,
    #b6f8ff 49.309%,
    #61adf8 97.804%
  );
  border-bottom: 1px dashed #ffffff;
}

.nav_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  max-width: 1536px;
  margin: auto;
  padding: 0 10px;
}

.web_name h2 {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 500;
  color: #214169;
}

#main_nav_navigate_container ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  color: #214169;
}

#main_nav_navigate_container ul li {
  font-size: 18px;
  font-weight: 500;
}

.nav_signin_container button {
  padding: 5px 20px;
  font-size: 16px;
  border-radius: 8px;
  color: #ffffff;
  background-color: #214169;
}

.burger_menu_container {
  font-size: 1.5rem;
  display: none;
  color: #214169;
}

/* Responsive style__ */

@media screen and (max-width: 768px) {
  #main_nav_navigate_container ul {
    gap: 20px;
  }
}

@media screen and (max-width: 640px) {
  .burger_menu_container {
    display: block;
  }

  #main_nav_navigate_container ul {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    height: calc(100vh - 70px);
    width: 50%;
    padding: 10px 20px;
    top: 70px;
    right: 0px;
    background-color: #5f92cc;
    transition: 0.4s ease-in-out;
  }

  #main_nav_navigate_container.isActive ul {
    right: -500px;
  }

  .nav_signin_container {
    font-size: 1rem;
    padding: 6px 12px;
  }

  .web_name h2 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 475px) {
  .web_name h2 {
    font-size: 1.5rem;
  }

  .nav_signin_container button {
    padding: 5px 15px;
    font-size: 14px;
  }
}
