#main_banner_body {
  height: calc(85vh - 88px);
  background: linear-gradient(
    40deg,
    #82d3ff 2.715%,
    #b6f8ff 49.309%,
    #61adf8 97.804%
  );
}

.main_banner_container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1536px;
  margin: auto;
  padding: 0 10px;
}

/* Left side style__ */

.banner_left_site_container {
  width: 60%;
}

.banner_left_site_container h1 {
  font-size: 6rem;
  font-weight: 500;
  color: #214169;
}

.banner_left_site_container p {
  margin-top: 30px;
  font-size: 22px;
  letter-spacing: 2px;
  font-family: "Arapey", serif;
}

/* Right side style__ */

.banner_right_site_container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 100%;
  width: 40%;
}

.banner_right_site_container img {
  width: 100%;
}

/* Responsive style__ */

@media screen and (max-width: 1280px) {
  .banner_left_site_container {
    width: 50%;
  }

  .banner_right_site_container {
    width: 50%;
  }

  .banner_left_site_container h1 {
    font-size: 4.5rem;
  }

  .banner_left_site_container p {
    font-size: 20px;
    letter-spacing: 0;
  }
}

@media screen and (max-width: 1024px) {
  #main_banner_body {
    height: calc(75vh - 88px);
  }

  .banner_left_site_container {
    width: 45%;
  }

  .banner_right_site_container {
    width: 55%;
  }

  .banner_left_site_container h1 {
    font-size: 3.3rem;
  }

  .banner_left_site_container p {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  #main_banner_body {
    height: auto;
  }

  .main_banner_container {
    flex-direction: column;
  }

  .banner_left_site_container {
    width: 100%;
  }

  .banner_right_site_container {
    width: 100%;
    justify-content: center;
  }

  .banner_left_site_container h1 {
    font-size: 3rem;
  }

  .banner_right_site_container img {
    width: 80%;
  }
}

@media screen and (max-width: 475px) {
  .banner_left_site_container h1 {
    font-size: 2.5rem;
  }

  .banner_left_site_container p {
    font-size: 16px;
  }

  .banner_right_site_container img {
    width: 85%;
  }
}
